{# Purpose of this template: Display a popup selector of pictures for scribite integration #}
{% set useFinder = true %}
{% extends 'MUImageModule::raw.html.twig' %}
{% block title __('Search and select picture') %}
{% block content %}
    <div class="container">
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
            {% set activatedObjectTypes = getModVar('MUImageModule', 'enabledFinderTypes', []) %}
            {% if 'album' in activatedObjectTypes %}
                <li{{ objectType == 'album' ? ' class="active"' : '' }}><a href="{{ path('muimagemodule_external_finder', {objectType: 'album', editor: editorName}) }}" title="{{ __('Search and select album') }}">{{ __('Albums') }}</a></li>
            {% endif %}
            {% if 'picture' in activatedObjectTypes %}
                <li{{ objectType == 'picture' ? ' class="active"' : '' }}><a href="{{ path('muimagemodule_external_finder', {objectType: 'picture', editor: editorName}) }}" title="{{ __('Search and select picture') }}">{{ __('Pictures') }}</a></li>
            {% endif %}
            {% if 'avatar' in activatedObjectTypes %}
                <li{{ objectType == 'avatar' ? ' class="active"' : '' }}><a href="{{ path('muimagemodule_external_finder', {objectType: 'avatar', editor: editorName}) }}" title="{{ __('Search and select avatar') }}">{{ __('Avatars') }}</a></li>
            {% endif %}
            </ul>
        </div>
        {% form_theme finderForm with [
            '@MUImageModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(finderForm, {attr: {id: 'mUImageModuleSelectorForm'}}) }}
        {{ form_errors(finderForm) }}
        <fieldset>
            <legend>{{ __('Search and select picture') }}</legend>
            {{ form_row(finderForm.onlyImages) }}
            <div id="imageFieldRow">
                {{ form_row(finderForm.imageField) }}
            </div>
            {{ form_row(finderForm.pasteAs) }}
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Picture') }}:</label>
                <div class="col-sm-9">
                    <div id="muimagemoduleItemContainer">
                        {% if not onlyImages %}
                            <ul>
                        {% endif %}
                            {% for picture in items %}
                                {% if not onlyImages or (attribute(picture, imageField) is not empty and attribute(picture, imageField ~ 'Meta').isImage) %}
                                {% if not onlyImages %}
                                    <li>
                                {% endif %}
                                    {% set itemId = picture.getKey() %}
                                    <a href="#" data-itemid="{{ itemId }}">
                                        {% if onlyImages %}
                                            {% set thumbOptions = attribute(thumbRuntimeOptions, 'picture' ~ imageField[:1]|upper ~ imageField[1:]) %}
                                            <img src="{{ attribute(picture, imageField).getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ picture|muimagemodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-rounded" />
                                        {% else %}
                                            {{ picture|muimagemodule_formattedTitle }}
                                        {% endif %}
                                    </a>
                                    <input type="hidden" id="path{{ itemId }}" value="{{ path('muimagemodule_picture_display', {'id': picture.getId()}) }}" />
                                    <input type="hidden" id="url{{ itemId }}" value="{{ url('muimagemodule_picture_display', {'id': picture.getId()}) }}" />
                                    <input type="hidden" id="title{{ itemId }}" value="{{ picture|muimagemodule_formattedTitle|e('html_attr') }}" />
                                    <input type="hidden" id="desc{{ itemId }}" value="{% set description %}{% if picture.description is not empty %}{{ picture.description }}{% endif %}
                                    {% endset %}{{ description|striptags|e('html_attr') }}" />
                                    {% if onlyImages %}
                                        <input type="hidden" id="imagePath{{ itemId }}" value="/{{ attribute(picture, imageField).getPathname() }}" />
                                    {% endif %}
                                {% if not onlyImages %}
                                    </li>
                                {% endif %}
                                {% endif %}
                            {% else %}
                                {% if not onlyImages %}<li>{% endif %}{{ __('No pictures found.') }}{% if not onlyImages %}</li>{% endif %}
                            {% endfor %}
                        {% if not onlyImages %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            {{ form_row(finderForm.sort) }}
            {{ form_row(finderForm.sortdir) }}
            {{ form_row(finderForm.num) }}
            <div id="searchTermRow">
                {{ form_row(finderForm.q) }}
            </div>
            <div>
                {{ pager({display: 'page', rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'pos', maxpages: 10, route: 'muimagemodule_external_finder'}) }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(finderForm.update) }}
                    {{ form_widget(finderForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(finderForm) }}
    </div>

    {#
    <div class="muimagemodule-finderform">
        <fieldset>
            {{ render(controller('MUImageModule:Picture:edit')) }}
        </fieldset>
    </div>
    #}
{% endblock %}
