{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="picture{{ picture.getKey() }}">
<dt>{{ picture|muimagemodule_formattedTitle|notifyFilters('image.filter_hooks.pictures.filter')|safeHtml }}</dt>
<dd>{% if picture.imageUploadMeta|default %}
<a href="{{ picture.imageUploadUrl }}" title="{{ picture|muimagemodule_formattedTitle|e('html_attr') }}"{% if picture.imageUploadMeta.isImage %} class="image-link"{% endif %}>
{% if picture.imageUploadMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'pictureImageUpload') %}
    <img src="{{ picture.imageUpload.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ picture|muimagemodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ picture.imageUploadMeta.size|muimagemodule_fileSize(picture.imageUpload.getPathname(), false, false) }})
{% endif %}
</a>
{% endif %}
</dd>
{% if picture.description is not empty %}<dd>{{ picture.description }}</dd>{% endif %}
</dl>
