{# purpose of this template: build the form to edit an instance of album #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUImageModule::' ~ baseTemplate ~ '.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@MUImageModule:js/MUImageModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@MUImageModule:js/MUImageModule.EditFunctions.js'), 99) }}
{% endblock %}
{% block title mode == 'create' ? __('Create album') : __('Edit album') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
{% set categories = getModVar('MUImageModule', 'supportCategoriesForAlbums') %}
{% set extended = getModVar('MUImageModule', 'useExtendedFeatures') %}
{% set subalbums = getModVar('MUImageModule', 'supportSubAlbums') %}
    <div class="muimagemodule-album muimagemodule-edit">
        {% form_theme form with [
            '@MUImageModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form, {attr: {id: 'albumEditForm', class: 'muimage-edit-form'}}) }}
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a id="fieldsTab" href="#tabFields" title="{{ __('Fields') }}" role="tab" data-toggle="tab">{{ __('Fields') }}</a>
                </li>
                {% if subalbums == 1 and extended == 1 %}
                <li role="presentation">
                    <a id="albumTab" href="#tabAlbum" title="{{ __('Album') }}" role="tab" data-toggle="tab">{{ __('Album') }}</a>
                </li>
                {% endif %}
                {% if categories == 1 and extended == 1 %}
                {% if featureActivationHelper.isEnabled(constant('MU\\ImageModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'album') %}
                    <li role="presentation">
                        <a id="categoriesTab" href="#tabCategories" title="{{ __('Categories') }}" role="tab" data-toggle="tab">{{ __('Categories') }}</a>
                    </li>
                {% endif %}
                {% endif %}
                {% if mode != 'create' %}
                    <li role="presentation">
                        <a id="standardFieldsTab" href="#tabStandardFields" title="{{ __('Creation and update') }}" role="tab" data-toggle="tab">{{ __('Creation and update') }}</a>
                    </li>
                {% endif %}
                {% if form.moderationSpecificCreator is defined %}
                    <li role="presentation">
                        <a id="moderationTab" href="#tabModeration" title="{{ __('Moderation options') }}" role="tab" data-toggle="tab">{{ __('Moderation') }}</a>
                    </li>
                {% endif %}
            </ul>
        
            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tabFields" aria-labelledby="fieldsTab">
                    <h3>{{ __('Fields') }}</h3>
                    <fieldset>
                        <legend>{{ __('Content') }}</legend>
                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.albumAccess) }}
                        {{ form_row(form.passwordAccess) }}
                        {{ form_row(form.myFriends) }}
                        {{ form_row(form.notInFrontend) }}
                        <div class="hidden">
                            {{ form_row(form.pos) }}
                        </div>
                    </fieldset>
                </div>
                {% if subalbums == 1 and extended == 1 %}
                {{ include(
                    '@MUImageModule/Album/includeSelectOne.html.twig',
                    { group: 'album', alias: 'album', aliasReverse: 'albums', mandatory: false, idPrefix: 'muimageAlbum_Album', linkingItem: album, tabs: true, displayMode: 'choices' }
                ) }}
                {% else %}
                <div class="hidden">
                {{ include(
                    '@MUImageModule/Album/includeSelectOne.html.twig',
                    { group: 'album', alias: 'album', aliasReverse: 'albums', mandatory: false, idPrefix: 'muimageAlbum_Album', linkingItem: album, tabs: true, displayMode: 'choices' }
                ) }}
                </div>
                <input type="hidden" name="muimagemodule_album[album]" value='' />
                {% endif %}
                {% if categories == 0 %}
                    <div class="hidden">
                {% endif %}
                {% if featureActivationHelper.isEnabled(constant('MU\\ImageModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'album') %}
                    {{ include('@MUImageModule/Helper/includeCategoriesEdit.html.twig', { obj: album, tabs: true }) }}
                {% endif %}
                {% if categories == 0 %}
                    </div>
                {% endif %}
                {% if mode != 'create' %}
                    {{ include('@MUImageModule/Helper/includeStandardFieldsEdit.html.twig', { obj: album, tabs: true }) }}
                {% endif %}
                
                {% if formHookTemplates|length > 0 %}
                    <fieldset>
                        {% for hookTemplate in formHookTemplates %}
                            {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                        {% endfor %}
                    </fieldset>
                {% endif %}
                
                {% if form.moderationSpecificCreator is defined %}
                    <div role="tabpanel" class="tab-pane fade" id="tabModeration" aria-labelledby="moderationTab">
                        <h3>{{ __('Moderation') }}</h3>
                        {{ form_row(form.moderationSpecificCreator) }}
                        {{ form_row(form.moderationSpecificCreationDate) }}
                    </div>
                {% endif %}
                
                {# include return control #}
                {% if mode == 'create' %}
                    <fieldset>
                        <legend>{{ __('Return control') }}</legend>
                        {{ form_row(form.repeatCreation) }}
                    </fieldset>
                {% endif %}
            </div>
        </div>
        
        {# include possible submit actions #}
        <div class="form-group form-buttons">
            <div class="col-sm-offset-3 col-sm-9">
                {% for action in actions %}
                    {{ form_widget(attribute(form, action.id)) }}
                {% endfor %}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% set hookId = mode != 'create' ? album.id : null %}
        {% set hooks = notifyDisplayHooks(eventName='muimagemodule.ui_hooks.albums.form_edit', id=hookId) %}
        {% if hooks is iterable and hooks|length > 0 %}
            <h3>{{ __('Hooks') }}</h3>
            {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
                <h4>{{ providerArea }}</h4>
                {{ hook }}
            {% endfor %}
        {% endif %}
        
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {% set editImage = '<span class="fa fa-pencil-square-o"></span>' %}
    {% set removeImage = '<span class="fa fa-trash-o"></span>' %}
    {% set formInitScript %}
        <script type="text/javascript">
        /* <![CDATA[ */
            
            ( function($) {
                $(document).ready(function() {
                    // initialise auto completion for user fields
                    {% if form.moderationSpecificCreator is defined %}
                        initUserLiveSearch('muimagemodule_album_moderationSpecificCreator');
                    {% endif %}
                    mUImageInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ album.id }}{% endif %}');
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
