{# purpose of this template: albums view filter form #}
{% if hasPermission('MUImageModule:Album:', '::', 'ACCESS_EDIT') %}
    {% form_theme quickNavForm with [
        'bootstrap_3_layout.html.twig'
    ] %}
    {{ form_start(quickNavForm, {attr: {id: 'mUImageModuleAlbumQuickNavForm', class: 'muimagemodule-quicknav navbar-form', role: 'navigation'}}) }}
    {{ form_errors(quickNavForm) }}
    <a href="#collapseAlbumQuickNav" role="button" data-toggle="collapse" class="btn btn-default" aria-expanded="false" aria-controls="collapseAlbumQuickNav">
        <i class="fa fa-filter" aria-hidden="true"></i> {{ __('Filter') }}
    </a>
    <div id="collapseAlbumQuickNav" class="collapse">
        <fieldset>
            <h3>{{ __('Quick navigation') }}</h3>
            {% set categoriesEnabled = featureActivationHelper.isEnabled(constant('MU\\ImageModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'album') %}
            {% if (categoryFilter is defined and categoryFilter != true) or not categoriesEnabled %}
                <div class="hidden">
            {% else %}
                <div class="row">
                    <div class="col-sm-3">
            {% endif %}
                {{ form_row(quickNavForm.categories) }}
            {% if (categoryFilter is defined and categoryFilter != true) or not categoriesEnabled %}
                </div>
            {% else %}
                    </div>
                    <div class="col-sm-9">
            {% endif %}
            {% if albumFilter is defined and albumFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.album) }}
            {% if albumFilter is defined and albumFilter != true %}
                </div>
            {% endif %}
            {% if workflowStateFilter is defined and workflowStateFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.workflowState) }}
            {% if workflowStateFilter is defined and workflowStateFilter != true %}
                </div>
            {% endif %}
            {% if albumAccessFilter is defined and albumAccessFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.albumAccess) }}
            {% if albumAccessFilter is defined and albumAccessFilter != true %}
                </div>
            {% endif %}
            {% if searchFilter is defined and searchFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.q) }}
            {% if searchFilter is defined and searchFilter != true %}
                </div>
            {% endif %}
            {% if sorting is defined and sorting != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.sort) }}
                {{ form_row(quickNavForm.sortdir) }}
            {% if sorting is defined and sorting != true %}
                </div>
            {% endif %}
            {% if pageSizeSelector is defined and pageSizeSelector != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.num) }}
            {% if pageSizeSelector is defined and pageSizeSelector != true %}
                </div>
            {% endif %}
            {% if notInFrontendFilter is defined and notInFrontendFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.notInFrontend) }}
            {% if notInFrontendFilter is defined and notInFrontendFilter != true %}
                </div>
            {% endif %}
            {{ form_widget(quickNavForm.updateview) }}
            {% if (categoryFilter is defined and categoryFilter != true) or not categoriesEnabled %}
            {% else %}
                    </div>
                </div>
            {% endif %}
        </fieldset>
    </div>
    {{ form_end(quickNavForm) }}
{% endif %}
