{# purpose of this template: pictures xml inclusion template #}
<picture id="{{ picture.id }}" createdon="{{ picture.createdDate|localizeddate('medium', 'short') }}" updatedon="{{ picture.updatedDate|localizeddate('medium', 'short') }}">
    <id>{{ picture.id }}</id>
    <title><![CDATA[{{ picture.title }}]]></title>
    <description><![CDATA[{{ picture.description }}]]></description>
    <showTitle>{% if not picture.showTitle %}0{% else %}1{% endif %}</showTitle>
    <showDescription>{% if not picture.showDescription %}0{% else %}1{% endif %}</showDescription>
    <imageUpload{% if picture.imageUpload is not empty %} extension="{{ picture.imageUploadMeta.extension }}" size="{{ picture.imageUploadMeta.size }}" isImage="{% if picture.imageUploadMeta.isImage %}true{% else %}false{% endif %}"{% if picture.imageUploadMeta.isImage %} width="{{ picture.imageUploadMeta.width }}" height="{{ picture.imageUploadMeta.height }}" format="{{ picture.imageUploadMeta.format }}"{% endif %}{% endif %}>{{ picture.imageUpload }}</imageUpload>
    <imageView>{{ picture.imageView }}</imageView>
    <albumImage>{% if not picture.albumImage %}0{% else %}1{% endif %}</albumImage>
    <pos>{{ picture.pos }}</pos>
    <workflowState>{{ picture.workflowState|mumuimagemodule_objectState(false)|lower }}</workflowState>
    <album>{% if picture.album|default %}{{ picture.album.getTitleFromDisplayPattern() }}{% endif %}</album>
</picture>
