{# purpose of this template: avatars rss feed #}
<?xml version="1.0" encoding="{% set charset = pageGetVar('meta.charset') %}{% if charset == 'ISO-8859-15' %}ISO-8859-1{% else %}{{ charset }}{% endif %}" ?>
<rss version="2.0"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:admin="http://webns.net/mvcb/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:atom="http://www.w3.org/2005/Atom">
{#<rss version="0.92">#}
    <channel>
        <title>{{ __('Latest avatars') }}</title>
        <link>{{ app.request.getSchemeAndHttpHost() ~ app.request.getBasePath()|e }}</link>
        <atom:link href="{{ app.request.getSchemeAndHttpHost() ~ app.request.getPathInfo() }}" rel="self" type="application/rss+xml" />
        <description>{{ __('A direct feed showing the list of avatars') }} - {{ getModVar('ZConfig', 'slogan') }}</description>
        <language>{{ app.request.locale }}</language>
        {# commented out as imagepath is not defined and we can't know whether this logo exists or not
        <image>
            <title>{{ getModVar('ZConfig', 'sitename') }}</title>
            <url>{{ app.request.getSchemeAndHttpHost() ~ app.request.getBasePath()|e }}{{ imagepath }}/logo.jpg</url>
            <link>{{ app.request.getSchemeAndHttpHost() ~ app.request.getBasePath()|e }}</link>
        </image>
        #}
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <copyright>Copyright (c) {{ 'now'|date('Y') }}, {{ app.request.getSchemeAndHttpHost()|e }}</copyright>
        <webMaster>{{ pageGetVar('adminmail)|e }}</webMaster>
{% for avatar in items %}
    {{ block('entry') }}
{% endfor %}
    </channel>
</rss>
{% block entry %}
    <item>
        {{ block('entry_content') }}
    </item>
{% endblock %}
{% block entry_content %}
    <title><![CDATA[{% if avatar.updatedDate|default %}{{ avatar.updatedDate|localizeddate('medium', 'short') }} - {% endif %}{{ avatar|muimagemodule_formattedTitle }}]]></title>
    <link>{{ url('muimagemodule_avatar_' ~ routeArea ~ 'display', { 'id': avatar.getId() }) }}</link>
    <guid>{{ url('muimagemodule_avatar_' ~ routeArea ~ 'display', { 'id': avatar.getId() }) }}</guid>
    {% if avatar.createdBy|default and avatar.createdBy.getUid() > 0 %}
        {% set creatorAttributes = avatar.createdBy.getAttributes() %}
        <author>{{ avatar.createdBy.getEmail() }} ({{ creatorAttributes.get('realname')|default(creatorAttributes.get('name'))|default(avatar.createdBy.getUname()) }})</author>
    {% endif %}
    <category><![CDATA[{{ __('Categories') }}: {% for propName, catMapping in avatar.categories %}{{ catMapping.category.display_name[lang] }}{% if not loop.last %}, {% endif %}{% endfor %}]]></category>
    <description>
        <![CDATA[
        {{ avatar.description|replace({ '<br>': '<br />' }) }}
        ]]>
    </description>
    {% if avatar.createdDate|default %}
        <pubDate>{{ avatar.createdDate|date('a, d b Y T +0100') }}</pubDate>
    {% endif %}
{% endblock %}
