{# purpose of this template: avatars list view #}
{% extends routeArea == 'admin' ? 'MUImageModule::adminBase.html.twig' : 'MUImageModule::base.html.twig' %}
{% block title __('Avatar list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="muimagemodule-avatar muimagemodule-view">
{% if routeArea == 'admin' %}
    {{ block('page_nav_links') }}
{% endif %}

    {#{ include('@MUImageModule/Avatar/viewQuickNav.html.twig') }#}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('muimagemodule_avatar_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="avatarsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                {% if routeArea == 'admin' %}
                <col id="cWorkflowState" />
                {% endif %}
                <col id="cTitle" />
                <col id="cDescription" />
                <col id="cAvatarUpload" />
                <col id="cSupportedModules" />
                <col id="cItemActions" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center">
                        <input type="checkbox" id="toggleAvatars" />
                    </th>
                {% endif %}
                {% if routeArea == 'admin' %}
                <th id="hWorkflowState" scope="col" class="text-left">
                    <a href="{{ sort.workflowState.url }}" title="{{ __f('Sort by %s', {'%s': 'state'}) }}" class="{{ sort.workflowState.class }}">{{ __('State') }}</a>
                </th>
                {% endif %}
                <th id="hTitle" scope="col" class="text-left">
                    <a href="{{ sort.title.url }}" title="{{ __f('Sort by %s', {'%s': 'title'}) }}" class="{{ sort.title.class }}">{{ __('Title') }}</a>
                </th>
                <th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hAvatarUpload" scope="col" class="text-left">
                    <a href="{{ sort.avatarUpload.url }}" title="{{ __f('Sort by %s', {'%s': 'avatar upload'}) }}" class="{{ sort.avatarUpload.class }}">{{ __('Avatar upload') }}</a>
                </th>
                <th id="hSupportedModules" scope="col" class="text-left">
                    <a href="{{ sort.supportedModules.url }}" title="{{ __f('Sort by %s', {'%s': 'supported modules'}) }}" class="{{ sort.supportedModules.class }}">{{ __('Supported modules') }}</a>
                </th>
                <th id="hItemActions" scope="col" class="text-right z-order-unsorted">{{ __('Actions') }}</th>
            </tr>
            </thead>
            <tbody>
        
        {% for avatar in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center">
                        <input type="checkbox" name="items[]" value="{{ avatar.id }}" class="avatars-checkbox" />
                    </td>
                {% endif %}
                {% if routeArea == 'admin' %}<td headers="hWorkflowState" class="text-left nowrap">
                    {{ avatar.workflowState|muimagemodule_objectState }}
                </td>
                {% endif %}<td headers="hTitle" class="text-left">
                    <a href="{{ path('muimagemodule_avatar_' ~ routeArea ~ 'display', { 'id': avatar.id }) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ avatar.title }}</a>
                </td>
                <td headers="hDescription" class="text-left">
                    {{ avatar.description|safeHtml }}
                </td>
                <td headers="hAvatarUpload" class="text-left">
                    {% if avatar.avatarUploadMeta|default %}
                    <a href="{{ avatar.avatarUploadUrl }}" title="{{ avatar.getTitleFromDisplayPattern()|e('html_attr') }}"{% if avatar.avatarUploadMeta.isImage %} class="lightbox"{% endif %}>
                    {% if avatar.avatarUploadMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'avatarAvatarUpload') %}
                        <img src="{{ avatar.avatarUpload.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ avatar.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ avatar.avatarUploadMeta.size|muimagemodule_fileSize(avatar.avatarUpload.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% endif %}
                </td>
                <td headers="hSupportedModules" class="text-left">
                    {{ avatar.supportedModules|muimagemodule_listEntry('avatar', 'supportedModules') }}
                </td>
                <td id="itemActions{{ avatar.id }}" headers="hItemActions" class="actions text-right nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUImageModule:ItemActionsMenu:menu', [], { entity: avatar, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ avatar.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}7{% else %}6{% endif %}">
            {{ __('No avatars found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if showAllEntries != 1 and pager|default %}
            {{ pager({ rowcount: pager.numitems, limit: pager.itemsperpage, display: 'page', route: 'muimagemodule_avatar_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUImageModuleAction" class="col-sm-3 control-label">{{ __('With selected avatars') }}</label>
                <div class="col-sm-6">
                    <select id="mUImageModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                    <option value="approve" title="{{ __('Update content and approve for immediate publishing.') }}">{{ __('Approve') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
{% block page_nav_links %}
    {% if canBeCreated %}
        {% if hasPermission('MUImageModule:Avatar:', '::', 'ACCESS_COMMENT') %}
            {% set createTitle = __('Create avatar') %}
            <a href="{{ path('muimagemodule_avatar_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        {% endif %}
    {% endif %}
    {% if showAllEntries == 1 %}
        {% set linkTitle = __('Back to paginated view') %}
        <a href="{{ path('muimagemodule_avatar_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% else %}
        {% set linkTitle = __('Show all entries') %}
        <a href="{{ path('muimagemodule_avatar_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% endif %}
{% endblock %}
{% block footer %}
    {{ parent() }}

    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                $('a.lightbox').lightbox();
                $('.muimagemodule-avatar .dropdown > ul').removeClass('list-inline').addClass('list-unstyled dropdown-menu dropdown-menu-right');
                $('.muimagemodule-avatar .dropdown > ul a').each(function (index) {
                    $(this).html($(this).html() + $(this).find('i').first().data('original-title'));
                });
                $('.muimagemodule-avatar .dropdown > ul a i').addClass('fa-fw');
                $('.muimagemodule-avatar .dropdown-toggle').removeClass('hidden').dropdown();
                {% if routeArea == 'admin' %}
                    {# init the "toggle all" functionality #}
                    if ($('#toggleAvatars').length > 0) {
                        $('#toggleAvatars').click(function (event) {
                            $('.avatars-checkbox').prop('checked', $(this).prop('checked'));
                        });
                    }
                {% endif %}
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
