{# purpose of this template: module configuration page #}
{% extends 'MUImageModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}

{% set avatars = getModVar('MUImageModule', 'useAvatars') %}
{% set slideshow1 = getModVar('MUImageModule', 'slideshow1') %}
{% set watermark = getModVar('MUImageModule', 'useWatermark') %}
{% set extended = getModVar('MUImageModule', 'useExtendedFeatures') %}

{% block content %}
    <div class="muimagemodule-config">
        {% form_theme form with [
            '@MUImageModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <ul class="nav nav-pills">
        {% set tabTitle = __('General') %}
        <li class="active" role="presentation">
            <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% set tabTitle = __('Display settings') %}
        <li role="presentation">
            <a id="vars2Tab" href="#tab2" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% set tabTitle = __('Upload handler') %}
        <li role="presentation">
            <a id="vars3Tab" href="#tab3" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% if slideshow1 == 1 and extended == 1 %}
        {% set tabTitle = __('Slideshows') %}
        <li role="presentation">
            <a id="vars4Tab" href="#tab4" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% endif %}
        {% if avatars == 1 and extended == 1 %}
        {% set tabTitle = __('Avatars') %}
        <li role="presentation">
            <a id="vars5Tab" href="#tab5" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% endif %}
        {% if watermark == 1 and extended == 1 %}
        {% set tabTitle = __('Watermark') %}
        <li role="presentation">
            <a id="vars6Tab" href="#tab6" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% endif %}
        {% set tabTitle = __('Moderation') %}
        <li role="presentation">
            <a id="vars7Tab" href="#tab7" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% set tabTitle = __('Listviews') %}
        <li role="presentation">
            <a id="vars8Tab" href="#tab8" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% set tabTitle = __('Images') %}
        <li class=" dropdown" role="presentation">
            <a id="imagesTabDrop" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-controls="imagesTabDropSections" aria-expanded="false">{{ tabTitle }}<span class="caret"></span></a>
            <ul id="imagesTabDropSections" class="dropdown-menu" aria-labelledby="imagesTabDrop">
            <li>
                <a id="imagesPictureImageUploadTab" href="#tabImagesPictureImageUpload" role="tab" data-toggle="tab" aria-controls="tabImagesPictureImageUpload">Pictures image upload</a>
            </li>
            <li>
                <a id="imagesAvatarAvatarUploadTab" href="#tabImagesAvatarAvatarUpload" role="tab" data-toggle="tab" aria-controls="tabImagesAvatarAvatarUpload">Avatars avatar upload</a>
            </li>
            </ul>
        </li>
        </ul>

        {{ form_errors(form) }}
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledby="vars1Tab">
                {% set tabTitle = __('General') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can manage all basic settings for this application.') }}</p>
                
                    {% if extended == 0 %}
                        <div class="hidden">
                    {% endif %}
                    {{ form_row(form.supportCategories) }}
                    {{ form_row(form.supportSubAlbums) }}
                    {% if extended == 0 %}
                        </div>
                    {% endif %}
                    {{ form_row(form.userDeletePictures) }}
                    {% if extended == 0 %}
                        <div class="hidden">
                    {% endif %}
                    {{ form_row(form.slideshow1) }}
                    {{ form_row(form.useAvatars) }}
                    {{ form_row(form.useWatermark) }}
                    {% if extended == 0 %}
                        </div>
                    {% endif %}
                    {{ form_row(form.useExtendedFeatures) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="vars2Tab">
                {% set tabTitle = __('Display settings') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    {{ form_row(form.countImageView) }}
                    {{ form_row(form.numberParentAlbums) }}
                    {{ form_row(form.numberSubAlbums) }}
                    {{ form_row(form.numberPictures) }}
                    {{ form_row(form.groupForCommonAlbums) }}
                    {{ form_row(form.kindOfShowSubAlbums) }}
                    {{ form_row(form.breadcrumbsInFrontend) }}
                    {{ form_row(form.ending) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab3" aria-labelledby="vars3Tab">
                {% set tabTitle = __('Upload handler') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                
                    {{ form_row(form.fileSizeForPictures) }}
                    {{ form_row(form.fileSizeForAvatars) }}
                    {{ form_row(form.minWidthForPictures) }}
                    {{ form_row(form.maxWidthForPictures) }}
                    {{ form_row(form.maxHeightForPictures) }}
                    {{ form_row(form.minWidthForAvatars) }}
                    {{ form_row(form.maxWidthForAvatars) }}
                    {{ form_row(form.maxHeightForAvatars) }}
                    {{ form_row(form.firstWidth) }}
                    {{ form_row(form.firstHeight) }}
                    {{ form_row(form.secondWidth) }}
                    {{ form_row(form.secondHeight) }}
                    {{ form_row(form.thirdWidth) }}
                    {{ form_row(form.thirdHeight) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab4" aria-labelledby="vars4Tab">
                {% set tabTitle = __('Slideshows') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                
                    {{ form_row(form.slide1Interval) }}
                    {{ form_row(form.slide1Speed) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab5" aria-labelledby="vars5Tab">
                {% set tabTitle = __('Avatars') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                
                    {{ form_row(form.numberHeightAndNameOfAvatars) }}
                    {{ form_row(form.shrink) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab6" aria-labelledby="vars6Tab">
                {% set tabTitle = __('Watermark') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                
                    {{ form_row(form.watermark) }}
                    {{ form_row(form.bottom) }}
                    {{ form_row(form.left) }}
                    {{ form_row(form.right) }}
                    {{ form_row(form.top) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab7" aria-labelledby="vars7Tab">
                {% set tabTitle = __('Moderation') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can assign moderation groups for enhanced workflow actions.')|nl2br }}</p>
                
                    {{ form_row(form.moderationGroupForAvatars) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab8" aria-labelledby="vars8Tab">
                {% set tabTitle = __('Listviews') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>
                
                    {{ form_row(form.albumEntriesPerPage) }}
                    {{ form_row(form.pictureEntriesPerPage) }}
                    {{ form_row(form.avatarEntriesPerPage) }}
                    {{ form_row(form.albumEntriesPerPageInBackend) }}
                    {{ form_row(form.pictureEntriesPerPageInBackend) }}
                    {{ form_row(form.avatarEntriesPerPageInBackend) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesPictureImageUpload" aria-labelledby="imagesPictureImageUploadTab">
                {% set tabTitle = __('Image settings for pictures image upload') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForPictureImageUpload) }}
                    <div id="shrinkDetailsPictureImageUpload">
                    {{ form_row(form.shrinkWidthPictureImageUpload) }}
                    {{ form_row(form.shrinkHeightPictureImageUpload) }}
                    </div>
                    {{ form_row(form.thumbnailModePictureImageUpload) }}
                    {{ form_row(form.thumbnailWidthPictureImageUploadView) }}
                    {{ form_row(form.thumbnailHeightPictureImageUploadView) }}
                    {{ form_row(form.thumbnailWidthPictureImageUploadDisplay) }}
                    {{ form_row(form.thumbnailHeightPictureImageUploadDisplay) }}
                    {{ form_row(form.thumbnailWidthPictureImageUploadEdit) }}
                    {{ form_row(form.thumbnailHeightPictureImageUploadEdit) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesAvatarAvatarUpload" aria-labelledby="imagesAvatarAvatarUploadTab">
                {% set tabTitle = __('Image settings for avatars avatar upload') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForAvatarAvatarUpload) }}
                    <div id="shrinkDetailsAvatarAvatarUpload">
                    {{ form_row(form.shrinkWidthAvatarAvatarUpload) }}
                    {{ form_row(form.shrinkHeightAvatarAvatarUpload) }}
                    </div>
                    {{ form_row(form.thumbnailModeAvatarAvatarUpload) }}
                    {{ form_row(form.thumbnailWidthAvatarAvatarUploadView) }}
                    {{ form_row(form.thumbnailHeightAvatarAvatarUploadView) }}
                    {{ form_row(form.thumbnailWidthAvatarAvatarUploadDisplay) }}
                    {{ form_row(form.thumbnailHeightAvatarAvatarUploadDisplay) }}
                    {{ form_row(form.thumbnailWidthAvatarAvatarUploadEdit) }}
                    {{ form_row(form.thumbnailHeightAvatarAvatarUploadEdit) }}
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@MUImageModule:js/MUImageModule.Config.js')) }}
{% endblock %}
