{# purpose of this template: albums display view #}
{% extends routeArea == 'admin' ? 'MUImageModule::adminBase.html.twig' : 'MUImageModule::base.html.twig' %}
{% block pageTitle %}{{ album.getTitleFromDisplayPattern()|default(__('Album')) }}{% endblock %}
{% block title %}
    {% set templateTitle = album.getTitleFromDisplayPattern()|default(__('Album')) %}
    {{ templateTitle|notifyFilters('muimagemodule.filter_hooks.albums.filter') }}
    {% if routeArea == 'admin' %}
    {% set itemActions = knp_menu_get('MUImageModule:ItemActionsMenu:menu', [], { entity: album, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ album.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
    {% endif %}
{% endblock %}
{% set extended = getModVar('MUImageModule', 'useExtendedFeatures') %}
{% block admin_page_icon 'eye' %}
{% block content %}
    <div class="muimagemodule-album muimagemodule-display">

    {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
        <div class="row">
            <div class="col-sm-9">
    {% endif %}

    <dl>
        {% if album.title is not empty %}
            <dt>{{ __('Title') }}</dt>
            <dd>{{ album.title }}</dd>
        {% endif %}
        {% if album.description is not empty %}
            <dt>{{ __('Description') }}</dt>
            <dd>{{ album.description|safeHtml }}</dd>
        {% endif %}
        {#% if album.parent_id is not empty %}
            <dt>{{ __('Parent_id') }}</dt>
            <dd>{{ album.parent_id }}</dd>
        {% endif %}
        {% if album.albumAccess is not empty %}
            <dt>{{ __('Album access') }}</dt>
            <dd>{{ album.albumAccess|muimagemodule_listEntry('album', 'albumAccess') }}</dd>
        {% endif %}
        {% if album.passwordAccess is not empty %}
            <dt>{{ __('Password access') }}</dt>
            <dd></dd>
        {% endif %}
        {% if album.myFriends is not empty %}
            <dt>{{ __('My friends') }}</dt>
            <dd>{{ album.myFriends }}</dd>
        {% endif %#}
        {% if album.notInFrontend is not empty %}
            <dt>{{ __('Not in frontend') }}</dt>
            <dd>{% if album.notInFrontend %}
                <i class="fa fa-check" title="{{ __('Yes') }}"></i>
            {% else %}
                <i class="fa fa-times" title="{{ __('No') }}"></i>
            {% endif %}
            </dd>
        {% endif %}
        <div class="hidden">
        {% if album.pos is not empty %}
            <dt>{{ __('Pos') }}</dt>
            <dd>{{ album.pos }}</dd>
        {% endif %}
        </div>
        {% if album.album|default %}
            <dt>{{ __('Album') }}</dt>
            <dd>
              {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
                  <a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': album.album.id }) }}">{% spaceless %}
                    {{ album.album.getTitleFromDisplayPattern() }}
                  {% endspaceless %}</a>
                  <a id="albumItem{{ album.album.id }}Display" href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': album.album.id, 'theme': 'ZikulaPrinterTheme' }) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="muimage-inline-window hidden" data-modal-title="{{ album.album.getTitleFromDisplayPattern()|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
              {% else %}
                  {{ album.album.getTitleFromDisplayPattern() }}
              {% endif %}
            </dd>
        {% endif %}
        
    </dl>
    {% if featureActivationHelper.isEnabled(constant('MU\\ImageModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'album') %}
        {{ include('@MUImageModule/Helper/includeCategoriesDisplay.html.twig', { obj: album }) }}
    {% endif %}
    {% if routeArea != 'admin' %}
    {% if extended == 1 %}
        {% set groupMember = muimagemodule_checkGroupMember(createdBy=album.createdBy.getUid()) %}
    {% else %}
    	{% set groupMember = 1 %}
    {% endif %}
	{% if groupMember == 1 %}
		<div id="action-for-albums" class="col-md-5">
			<div style="z-index: 5000;" class="btn-group">
  				<a class="btn btn-default" href="#"><i class="fa fa-user fa-fw"></i>{{ __('Actions for this album') }}</a>
  				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
    			<span class="fa fa-caret-down"></span></a>
  				<ul class="dropdown-menu">
  					<li><a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'edit', { 'id': album.id }) }}"><i class="fa fa-pencil fa-fw"></i> {{ __('Edit') }}</a></li>
  					<li><a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'delete', { 'id': album.id }) }}"><i class="fa fa-trash-o fa-fw"></i> {{ __('Delete') }}</a></li>
  					{#% if otherPictures == true %#}
    					<li><a href="{{ path('muimagemodule_picture_' ~ routeArea ~ 'edit') }}"><i class="fa fa-upload fa-fw"></i> {{ __('Add') }}</a></li>  				
    					<li><a href="{{ path('muimagemodule_picture_' ~ routeArea ~ 'multiupload') }}"><i class="fa fa-upload fa-fw"></i> {{ __('Multi-Add') }}</a></li>
    					<li><a href="{#{ path('muimagemodule_picture_' ~ routeArea ~ 'zipupload') }#}"><i class="fa fa-file-archive-o fa-fw"></i> {{ __('Zip-Add') }}</a></li>
  					{#% endif %#}
  				</ul>
			</div>
	  	</div>
	{% endif %}
	{% endif %}<br style="clear: both;" />
    {{ include('@MUImageModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: album }) }}


    {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
        {# include display hooks #}
        {{ block('display_hooks') }}
            </div>
            <div class="col-sm-3">
                {{ block('related_items') }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block related_items %}
{% if routeArea != 'admin' %}
    <div class="hidden">
{% endif %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Albums') }}</h4>
    {% else %}
        <h3>{{ __('Albums') }}</h3>
    {% endif %}
    
    {% if album.albums|default %}
        {{ include(
            '@MUImageModule/Album/includeDisplayItemListMany.html.twig',
            { items: album.albums }
        ) }}
    {% endif %}
    
    {% set permLevel = 'ACCESS_EDIT' %}
    {% if routeArea == 'admin' %}
        {% set permLevel = 'ACCESS_ADMIN' %}
    {% endif %}
    {% set mayManage = hasPermission('MUImageModule:Album:', album.id ~ '::', permLevel) %}
    {% if mayManage or (currentUser|default and album.createdBy|default and album.createdBy.getUid() == currentUser.uid) %}
    <p class="managelink">
        {% set createTitle = __('Create album') %}
        <a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'edit', { album: album.id }) }}" title="{{ createTitle }}" class="fa fa-plus">{{ createTitle }}</a>
    </p>
    {% endif %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Pictures') }}</h4>
    {% else %}
        <h3>{{ __('Pictures') }}</h3>
    {% endif %}
    
    {% if album.pictures|default %}
        {{ include(
            '@MUImageModule/Picture/includeDisplayItemListMany.html.twig',
            { items: album.pictures }
        ) }}
    {% endif %}
    
    {% set permLevel = 'ACCESS_EDIT' %}
    {% if routeArea == 'admin' %}
        {% set permLevel = 'ACCESS_ADMIN' %}
    {% endif %}
    {% set mayManage = hasPermission('MUImageModule:Album:', album.id ~ '::', permLevel) %}
    {% if mayManage or (currentUser|default and album.createdBy|default and album.createdBy.getUid() == currentUser.uid) %}
    <p class="managelink">
        {% set createTitle = __('Create picture') %}
        <a href="{{ path('muimagemodule_picture_' ~ routeArea ~ 'edit', { album: album.id }) }}" title="{{ createTitle }}" class="fa fa-plus">{{ createTitle }}</a>
    </p>
    {% endif %}
{% if routeArea != 'admin' %}
    </div>
{% endif %}
{% endblock %}

{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='muimagemodule.ui_hooks.albums.display_view', id=album.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks %}
        {% if providerArea != 'provider.scribite.ui_hooks.editor' %}{# fix for #664 #}
            {{ hook }}
        {% endif %}
    {% endfor %}
{% endblock %}
