{# purpose of this template: inclusion template for display of related albums #}
{% set hasAdminPermission = hasPermission('MUImageModule:Album:', '::', 'ACCESS_EDIT') %}
{% if nolink is not defined %}
    {% set nolink = false %}
{% endif %}
{% if items|default and items|length > 0 %}
<ul class="list-group muimagemodule-related-item-list album">
{% for item in items %}
    {% if hasAdminPermission or item.workflowState == 'approved' %}
    <li class="list-group-item">
<h4 class="list-group-item-heading">
{% spaceless %}
{% if not nolink %}
    <a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': item.id }) }}" title="{{ item.getTitleFromDisplayPattern()|e('html_attr') }}">
{% endif %}
    {{ item.getTitleFromDisplayPattern() }}
{% if not nolink %}
    </a>
    <a id="albumItem{{ item.id }}Display" href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': item.id, 'raw': 1 }) }}" title="{{ __('Open quick view window') }}" class="muimage-inline-window hidden" data-modal-title="{{ item.getTitleFromDisplayPattern()|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
{% endif %}
{% endspaceless %}
</h4>
    </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
