{# purpose of this template: inclusion template for managing related album #}
{% displayMode is not defined or displayMode is empty %}
    {% set displayMode = 'choices' %}
{% endif %}
{% if allowEditing is not defined or allowEditing is empty %}
    {% set allowEditing = false %}
{% endif %}
{% if panel|default(false) == true %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseAlbum">{{ __('Album') }}</a></h3>
        </div>
        <div id="collapseAlbum" class="panel-collapse collapse in">
            <div class="panel-body">
{% else %}
    <fieldset class="album">
{% endif %}
    <legend>{{ __('Album') }}</legend>
    {% if displayMode == 'choices' %}
        {{ form_row(form.album) }}
    {% elseif displayMode == 'autocomplete' %}
        {% set createUrl = allowEditing ? path('mumuimagemodule_album_' ~ routeArea ~ 'edit') : '' %}
        {{ form_row(form.album) }}
        <div class="mumuimagemodule-relation-leftside">
            {% if attribute(linkingItem, alias) is defined %}
                {{ include(
                    'Album/includeSelectEditItemListOne.html.twig',
                    { item: attribute(linkingItem, alias) }
                ) }}
            {% else %}
                {{ include('Album/includeSelectEditItemListOne.html.twig') }}
            {% endif %}
        </div>
        <br style="clear: both" />
    {% endif %}
{% if panel|default(false) == true %}
            </div>
        </div>
    </div>
{% else %}
    </fieldset>
{% endif %}
