{# purpose of this template: albums atom feed #}
{{ mumuimagemodule_templateHeaders(contentType='application/atom+xml') }}<?xml version="1.0" encoding="{% set charset = pageGetVar('meta.charset') %}{% if charset == 'ISO-8859-15' %}ISO-8859-1{% else %}{{ charset }}{% endif %}" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title type="text">{{ __('Latest albums') }}</title>
    <subtitle type="text">{{ __('A direct feed showing the list of albums') }} - {{ getModVar('ZConfig', 'slogan') }}</subtitle>
    <author>
        <name>{{ getModVar('ZConfig', 'sitename') }}</name>
    </author>
{% set homePath = pageGetVar('homepath') %}
{% set amountOfItems = items|length %}
{% if amountOfItems > 0 %}
{% set uniqueID %}tag:{{ homePath|replace({ 'http://': '', '/': '' }) }},{{ items.first.createdDate|date('Y-m-d') }}:{{ path('mumuimagemodule_album_' ~ routeArea ~ 'display', { 'id': items.first.id }) }}{% endset %}
    <id>{{ uniqueID }}</id>
    <updated>{{ items[0].updatedDate|date('Y-m-dTH:M:SZ') }}</updated>
{% endif %}
    <link rel="alternate" type="text/html" hreflang="{{ lang() }}" href="{{ url('mumuimagemodule_album_' ~ routeArea ~ 'index') }}" />
    <link rel="self" type="application/atom+xml" href="{{ homePath ~ app.request.getPathInfo() }}" />
    <rights>Copyright (c) {{ 'now'|date('Y') }}, {{ homePath|e }}</rights>
{% for album in items %}
    {{ block('entry') }}
{% endfor %}
</feed>
{% block entry %}
    <entry>
        {{ block('entry_content') }}
    </entry>
{% endblock %}
{% block entry_content %}
    <title type="html">{{ album.getTitleFromDisplayPattern()|notifyfilters('mumuimagemodule.filterhook.albums') }}</title>
    <link rel="alternate" type="text/html" href="{{ url('mumuimagemodule_album_' ~ routeArea ~ 'display', { 'id': album.id }) }}" />
    {% set uniqueID %}tag:{{ homePath|replace({ 'http://': '', '/': '' }) }},{{ album.createdDate|date('Y-m-d') }}:{{ path('mumuimagemodule_album_' ~ routeArea ~ 'display', { 'id': album.id }) }}{% endset %}
    <id>{{ uniqueID }}</id>
    {% if album.updatedDate|default %}
        <updated>{{ album.updatedDate|date('Y-m-dTH:M:SZ') }}</updated>
    {% endif %}
    {% if album.createdDate|default %}
        <published>{{ album.createdDate|date('Y-m-dTH:M:SZ') }}</published>
    {% endif %}
    {% if album.createdUserId is defined %}
        {% set cr_uname = mumuimagemodule_userVar('uname', obj.createdUserId) %}
        {% set cr_name = mumuimagemodule_userVar('name', obj.createdUserId) %}
        <author>
           <name>{{ cr_name|default(cr_uname) }}</name>
           <uri>{{ mumuimagemodule_userVar('_UYOURHOMEPAGE', album.createdUserId, '-') }}</uri>
           <email>{{ mumuimagemodule_userVar('email', album.createdUserId) }}</email>
        </author>
        #}
    {% endif %}
    <summary type="html">
        <![CDATA[
        {{ album.description|truncate(150, true, '&hellip;')|default('-') }}
        ]]>
    </summary>
    <content type="html">
        <![CDATA[
        {{ album.title|replace({ '<br>': '<br />' }) }}
        ]]>
    </content>
{% endblock %}
