{# purpose of this template: albums list view #}
{% extends routeArea == 'admin' ? 'MUImageModule::adminBase.html.twig' : 'MUImageModule::base.html.twig' %}
{% block title __('Album list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="muimagemodule-album muimagemodule-view">

    {{ block('page_nav_links') }}
    
    {% set extended = getModVar('MUImageModule', 'useExtendedFeatures') %}

    {% if routeArea != 'admin' %}
    <div class="album-bootstrap-view">
	{% if items is defined and items|length > 0 %}
	<ul class="row">
		{% for album in items %}
			{% if album.parent == NULL %}
			{% if extended == 1 %}
		    	{% set accessThisAlbum = muimagemodule_checkAlbumAccess(albumId=album.id) %}
		    	{% set accessThisAlbum = 1 %}
		    {% else %}
		        {% set accessThisAlbum = 1 %}
		    {% endif %}
		    	{% if accessThisAlbum == 1 %}
		    		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
		    		<div class="thumbnail album-view-container">
					{#% set albumpicture = muimagemodule_giveImageOfAlbum(albumId=album.id) %#}
					{% set albumpicture = '' %}
					{% if albumpicture != '' %}
					<a data-placement="top" data-toggle="tooltip" href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': album.id }) }}" title="{{ album.title }}{% if album.description != '' %} - {{ album.description|safeHtml }}{% endif %}">
       				<img src="{#thumb image=albumpicture.imageUploadFullPath width=300 height=200 mode='outset' extension='jpg'#}" alt="">
    				</a>
    				{% else %}
    				<a data-placement="top" data-toggle="tooltip" href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': album.id }) }}" title="{{ album.title }}{% if album.description != '' %} - {{ album.description|safeHtml }}{% endif %}">
   					<img src="/modules/MU/ImageModule/Resources/public/images/placeholder.png" width="300" height="200" />
    				</a>
    				{% endif %}    		 		
    				<div class="caption album-view-info">
    				<a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': album.id }) }}" title="{{ __('View detail page')|e('html_attr') }}">
    				<i class="fa fa-eye fa-2x"></i>
    				</a>&nbsp;	
    				{% if hasPermission('MUImageModule:Album:', '::', 'ACCESS_EDIT') %}
    				    {% if extended == 1 %}
    					    {% set groupMember = muimagemodule_checkGroupMember(created=album.createdBy_id) %}
    				    {% else %}
    				        {% set groupMember = 1 %}
    				    {% endif %}
    				    {% if groupMember == 1 %}		
    					    <a title="{{ __('Edit') }}" href="{{ path('muimagemodule_album_' ~ routeArea ~ 'edit', { 'id': album.id }) }}">
    							<i class="fa fa-pencil-square-o fa-2x"></i>
    					    </a>
    					{% endif %}
    				{% endif %}	
    				<div>		
					{% if album.children is defined and album.children != null and album.children|length > 0 %}			    
			    		{{ __('SubAlbums') }}: {#include file='bootstrap/album/include_displayItemListMany.tpl' items=album.children#}    
					{% else %}
						{{ __('No SubAlbums') }}
					{% endif %}
					</div>
					<p>
					{{ __('Pictures') }}: {{ album.pictures|length }}
           			</p>			
    				</div>			
					</div>
		    		</li>
				{% endif %}
			{% endif %}
	    {% endfor %}
	       
	    {% for album in items %}
	        {% if extended == 1 %}
	    	    {#% set accessThisAlbum = muimagemodule_checkAlbumAccess(albumId=album.id) %#}
	    	    {% set accessThisAlbum = 1 %}
	    	{% else %}
	    	    {% set accessThisAlbum = 1 %}
	    	{% endif %}
				{% if accessThisAlbum == 2 %}
					<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
						<div class="thumbnail">
							<span style="width: 300px; height: 200px; background: url(/modules/MU/ImageModule/Resources/public/images/placeholder.png) no-repeat center center; background-size: cover;">
		        				{#usergetvar name='uname' uid=album.createdUserId assign='username'#}
		        				{{ __('This album is saved with a password by') }}: {username}<br /><br />
		        				{% set albumid = album.id %}
                				{#include file='bootstrap/album/enterPassword.tpl' id=albumid#}		
							</span>
   						</div>
   					</li>
				{% endif %}	    
	    {% endfor %}
	</ul>
	{% else %}
	    {{ __('No albums') }}
	{% endif %}
	</div>
	{% endif %}

    {% if routeArea == 'admin' %}
    {{ include('@MUImageModule/Album/viewQuickNav.html.twig', { workflowStateFilter: false }) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('muimagemodule_album_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="albumsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cTitle" />
                <col id="cDescription" />
                <col id="cParent_id" />
                <col id="cAlbumAccess" />
                <col id="cPasswordAccess" />
                <col id="cMyFriends" />
                <col id="cNotInFrontend" />
                <col id="cPos" />
                <col id="cAlbum" />
                <col id="cItemActions" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center">
                        <input type="checkbox" class="muimage-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hTitle" scope="col" class="text-left">
                    <a href="{{ sort.title.url }}" title="{{ __f('Sort by %s', {'%s': 'title'}) }}" class="{{ sort.title.class }}">{{ __('Title') }}</a>
                </th>
                <th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hParent_id" scope="col" class="text-right">
                    <a href="{{ sort.parent_id.url }}" title="{{ __f('Sort by %s', {'%s': 'parent_id'}) }}" class="{{ sort.parent_id.class }}">{{ __('Parent_id') }}</a>
                </th>
                <th id="hAlbumAccess" scope="col" class="text-left">
                    <a href="{{ sort.albumAccess.url }}" title="{{ __f('Sort by %s', {'%s': 'album access'}) }}" class="{{ sort.albumAccess.class }}">{{ __('Album access') }}</a>
                </th>
                <th id="hPasswordAccess" scope="col" class="text-left">
                    <a href="{{ sort.passwordAccess.url }}" title="{{ __f('Sort by %s', {'%s': 'password access'}) }}" class="{{ sort.passwordAccess.class }}">{{ __('Password access') }}</a>
                </th>
                <th id="hMyFriends" scope="col" class="text-left">
                    <a href="{{ sort.myFriends.url }}" title="{{ __f('Sort by %s', {'%s': 'my friends'}) }}" class="{{ sort.myFriends.class }}">{{ __('My friends') }}</a>
                </th>
                <th id="hNotInFrontend" scope="col" class="text-center">
                    <a href="{{ sort.notInFrontend.url }}" title="{{ __f('Sort by %s', {'%s': 'not in frontend'}) }}" class="{{ sort.notInFrontend.class }}">{{ __('Not in frontend') }}</a>
                </th>
                <th id="hPos" scope="col" class="text-right">
                    <a href="{{ sort.pos.url }}" title="{{ __f('Sort by %s', {'%s': 'pos'}) }}" class="{{ sort.pos.class }}">{{ __('Pos') }}</a>
                </th>
                <th id="hAlbum" scope="col" class="text-left">
                    <a href="{{ sort.album.url }}" title="{{ __f('Sort by %s', {'%s': 'album'}) }}" class="{{ sort.album.class }}">{{ __('Album') }}</a>
                </th>
                <th id="hItemActions" scope="col" class="text-right z-order-unsorted">{{ __('Actions') }}</th>
            </tr>
            </thead>
            <tbody>
        
        {% for album in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center">
                        <input type="checkbox" name="items[]" value="{{ album.id }}" class="muimage-toggle-checkbox" />
                    </td>
                {% endif %}
                <td headers="hTitle" class="text-left">
                    <a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': album.id }) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ album.title|notifyFilters('muimagemodule.filterhook.albums') }}</a>
                </td>
                <td headers="hDescription" class="text-left">
                    {{ album.description|safeHtml }}
                </td>
                <td headers="hParent_id" class="text-right">
                    {{ album.parent_id }}
                </td>
                <td headers="hAlbumAccess" class="text-left">
                    {{ album.albumAccess|muimagemodule_listEntry('album', 'albumAccess') }}
                </td>
                <td headers="hPasswordAccess" class="text-left">
                </td>
                <td headers="hMyFriends" class="text-left">
                    {{ album.myFriends }}
                </td>
                <td headers="hNotInFrontend" class="text-center">
                    {% if album.notInFrontend %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hPos" class="text-right">
                    {{ album.pos }}
                </td>
                <td headers="hAlbum" class="text-left">
                    {% if album.album|default %}
                        <a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': album.album.id }) }}">{% spaceless %}
                          {{ album.album.getTitleFromDisplayPattern() }}
                        {% endspaceless %}</a>
                        <a id="albumItem{{ album.id }}_rel_{{ album.album.id }}Display" href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', {'id': album.album.id, 'theme': 'ZikulaPrinterTheme' }) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="muimage-inline-window hidden" data-modal-title="{{ album.album.getTitleFromDisplayPattern()|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
                <td id="itemActions{{ album.id }}" headers="hItemActions" class="actions text-right nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUImageModule:ItemActionsMenu:menu', [], { entity: album, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ album.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}11{% else %}10{% endif %}">
            {{ __('No albums found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if showAllEntries != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'muimagemodule_album_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUImageModuleAction" class="col-sm-3 control-label">{{ __('With selected albums') }}</label>
                <div class="col-sm-6">
                    <select id="mUImageModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    {% if canBeCreated %}
        {% if hasPermission('MUImageModule:Album:', '::', 'ACCESS_EDIT') %}
            {% set createTitle = __('Create album') %}
            <a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        {% endif %}
    {% endif %}
    {% if showAllEntries == 1 %}
        {% set linkTitle = __('Back to paginated view') %}
        <a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% else %}
        {% set linkTitle = __('Show all entries') %}
        <a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='muimagemodule.ui_hooks.albums.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
