{# purpose of this template: pictures display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUImageModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ picture|muimagemodule_formattedTitle|default(__('Picture')) }}{% endblock %}
{% block title %}
    {% set templateTitle = picture|muimagemodule_formattedTitle|default(__('Picture')) %}
    {{ templateTitle|notifyFilters('muimagemodule.filter_hooks.pictures.filter')|safeHtml }}
    {% set itemActions = knp_menu_get('MUImageModule:ItemActionsMenu:menu', [], {entity: picture, area: routeArea, context: 'display'}) %}
    <div class="dropdown">
        <a id="itemActions{{ picture.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="muimagemodule-picture muimagemodule-display">

    <dl>
        {% if picture.title is not empty %}
            <dt>{{ __('Title') }}</dt>
            <dd>{{ picture.title }}</dd>
        {% endif %}
        {% if picture.description is not empty %}
            <dt>{{ __('Description') }}</dt>
            <dd>{{ picture.description|safeHtml }}</dd>
        {% endif %}
        {% if picture.imageUpload is not empty %}
            <dt>{{ __('Image upload') }}</dt>
            <dd>{% if picture.imageUploadMeta|default %}
            <a href="{{ picture.imageUploadUrl }}" title="{{ picture|muimagemodule_formattedTitle|e('html_attr') }}"{% if picture.imageUploadMeta.isImage %} class="image-link"{% endif %}>
            {% if picture.imageUploadMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'pictureImageUpload') %}
                <img src="{{ picture.imageUpload.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ picture|muimagemodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ picture.imageUploadMeta.size|muimagemodule_fileSize(picture.imageUpload.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% endif %}
            </dd>
        {% endif %}
        {% if picture.imageView is not empty %}
            <dt>{{ __('Image view') }}</dt>
            <dd>{{ picture.imageView }}</dd>
        {% endif %}
        {% if picture.albumImage is not empty %}
            <dt>{{ __('Album image') }}</dt>
            <dd>{% if picture.albumImage %}
                <i class="fa fa-check" title="{{ __('Yes') }}"></i>
            {% else %}
                <i class="fa fa-times" title="{{ __('No') }}"></i>
            {% endif %}
            </dd>
        {% endif %}
        {% if picture.pos is not empty %}
            <dt>{{ __('Pos') }}</dt>
            <dd>{{ picture.pos }}</dd>
        {% endif %}
        {% if picture.album|default %}
            <dt>{{ __('Album') }}</dt>
            <dd>
              {% if not isQuickView %}
                  <a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', {'id': picture.album.getId()}) }}">{% spaceless %}
                    {{ picture.album|muimagemodule_formattedTitle }}
                  {% endspaceless %}</a>
                  <a id="albumItem{{ picture.album.getKey() }}Display" href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', {'id': picture.album.getId(), raw: 1}) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="muimage-inline-window hidden" data-modal-title="{{ picture.album|muimagemodule_formattedTitle|e('html_attr') }}"><i class="fa fa-id-card-o"></i></a>
              {% else %}
                  {{ picture.album|muimagemodule_formattedTitle }}
              {% endif %}
            </dd>
        {% endif %}
        
    </dl>

    {{ include('@MUImageModule/Helper/includeStandardFieldsDisplay.html.twig', {obj: picture}) }}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='muimagemodule.ui_hooks.pictures.display_view', id=picture.getKey(), urlObject=currentUrlObject, outputAsArray=true) %}
    {% if hooks is iterable and hooks|length > 0 %}
        {% for area, hook in hooks %}
            <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
