{# purpose of this template: inclusion template for display of related pictures #}
{% set hasAdminPermission = hasPermission('MUImageModule:Picture:', '::', 'ACCESS_EDIT') %}
{% if noLink is not defined %}
    {% set noLink = false %}
{% endif %}
<h4>
{% spaceless %}
{% if not noLink %}
    <a href="{{ path('muimagemodule_picture_' ~ routeArea ~ 'display', {'id': item.getId()}) }}" title="{{ item|muimagemodule_formattedTitle|e('html_attr') }}">
{% endif %}
    {{ item|muimagemodule_formattedTitle }}
{% if not noLink %}
    </a>
    <a id="pictureItem{{ item.getKey() }}Display" href="{{ path('muimagemodule_picture_' ~ routeArea ~ 'display', {'id': item.getId(), raw: 1}) }}" title="{{ __('Open quick view window') }}" class="muimage-inline-window hidden" data-modal-title="{{ item|muimagemodule_formattedTitle|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
{% endif %}
{% endspaceless %}
</h4>
{% if item.imageUpload is not empty and item.imageUploadMeta.isImage %}
    <p>
        <img src="{{ item.imageUpload.getPathname()|imagine_filter('zkroot', relationThumbRuntimeOptions) }}" alt="{{ item|muimagemodule_formattedTitle|e('html_attr') }}" width="{{ relationThumbRuntimeOptions.thumbnail.size[0] }}" height="{{ relationThumbRuntimeOptions.thumbnail.size[1] }}" class="img-rounded" />
    </p>
{% endif %}
