{# purpose of this template: pictures list view #}
{% extends routeArea == 'admin' ? 'MUImageModule::adminBase.html.twig' : 'MUImageModule::base.html.twig' %}
{% block title own ? __('My pictures') : __('Pictures list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="muimagemodule-picture muimagemodule-view">

    {{ block('page_nav_links') }}

    {{ include('@MUImageModule/Picture/viewQuickNav.html.twig', { workflowStateFilter: false }) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('muimagemodule_picture_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="picturesViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                <col id="cTitle" />
                <col id="cDescription" />
                <col id="cImageUpload" />
                <col id="cAlbumImage" />
                <col id="cPos" />
                <col id="cAlbum" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="muimage-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted z-w02">{{ __('Actions') }}</th>
                <th id="hTitle" scope="col" class="text-left">
                    <a href="{{ sort.title.url }}" title="{{ __f('Sort by %s', {'%s': 'title'}) }}" class="{{ sort.title.class }}">{{ __('Title') }}</a>
                </th>
                <th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hImageUpload" scope="col" class="text-left">
                    <a href="{{ sort.imageUpload.url }}" title="{{ __f('Sort by %s', {'%s': 'image upload'}) }}" class="{{ sort.imageUpload.class }}">{{ __('Image upload') }}</a>
                </th>
                <th id="hAlbumImage" scope="col" class="text-center">
                    <a href="{{ sort.albumImage.url }}" title="{{ __f('Sort by %s', {'%s': 'album image'}) }}" class="{{ sort.albumImage.class }}">{{ __('Album image') }}</a>
                </th>
                <th id="hPos" scope="col" class="text-right">
                    <a href="{{ sort.pos.url }}" title="{{ __f('Sort by %s', {'%s': 'pos'}) }}" class="{{ sort.pos.class }}">{{ __('Pos') }}</a>
                </th>
                <th id="hAlbum" scope="col" class="text-left">
                    <a href="{{ sort.album.url }}" title="{{ __f('Sort by %s', {'%s': 'album'}) }}" class="{{ sort.album.class }}">{{ __('Album') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for picture in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ picture.getKey() }}" class="muimage-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ picture.getKey() }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUImageModule:ItemActionsMenu:menu', [], { entity: picture, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ picture.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
                <td headers="hTitle" class="text-left">
                    <a href="{{ path('muimagemodule_picture_' ~ routeArea ~ 'display', { 'id': picture.getId() }) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ picture.title|notifyFilters('muimagemodule.filterhook.pictures')|safeHtml }}</a>
                </td>
                <td headers="hDescription" class="text-left">
                    {{ picture.description|safeHtml|truncate(50) }}
                </td>
                <td headers="hImageUpload" class="text-left">
                    {% if picture.imageUploadMeta|default %}
                    <a href="{{ picture.imageUploadUrl }}" title="{{ picture|muimagemodule_formattedTitle|e('html_attr') }}"{% if picture.imageUploadMeta.isImage %} class="image-link"{% endif %}>
                    {% if picture.imageUploadMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'pictureImageUpload') %}
                        <img src="{{ picture.imageUpload.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ picture|muimagemodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ picture.imageUploadMeta.size|muimagemodule_fileSize(picture.imageUpload.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% endif %}
                </td>
                <td headers="hAlbumImage" class="text-center">
                    {% if picture.albumImage %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hPos" class="text-right">
                    {{ picture.pos }}
                </td>
                <td headers="hAlbum" class="text-left">
                    {% if picture.album|default %}
                        <a href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': picture.album.getId() }) }}">{% spaceless %}
                          {{ picture.album|muimagemodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="albumItem{{ picture.getKey() }}_rel_{{ picture.album.getKey() }}Display" href="{{ path('muimagemodule_album_' ~ routeArea ~ 'display', { 'id': picture.album.getId(), 'raw': 1 }) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="muimage-inline-window hidden" data-modal-title="{{ picture.album|muimagemodule_formattedTitle|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}8{% else %}7{% endif %}">
            {{ __('No pictures found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'muimagemodule_picture_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUImageModuleAction" class="col-sm-3 control-label">{{ __('With selected pictures') }}</label>
                <div class="col-sm-6">
                    <select id="mUImageModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('MUImageModule:Picture:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create picture') %}
                <a href="{{ path('muimagemodule_picture_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('muimagemodule_picture_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('muimagemodule_picture_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='muimagemodule.ui_hooks.pictures.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
