{# Purpose of this template: Display albums within an external context #}
<dl>
    {% for album in items %}
        <dt>{{ album|muimagemodule_formattedTitle }}</dt>
        {% if album.description %}
            <dd>{{ album.description|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('muimagemodule_album_display', { 'id': album.getId() }) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
