{# Purpose of this template: Display one certain album within an external context #}
<div id="album{$album->getKey()}" class="muimagemodule-external-album">
{% if displayMode == 'link' %}
    <p class="muimagemodule-external-link">
    <a href="{{ path('muimagemodule_album_display', { 'id': album.getId() }) }}" title="{{ album|muimagemodule_formattedTitle|e('html_attr') }}">
    {{ album|muimagemodule_formattedTitle|notifyFilters('image.filter_hooks.albums.filter')|safeHtml }}
    </a>
    </p>
{% endif %}
{% if hasPermission('MUImageModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="muimagemodule-external-title">
            <strong>{{ album|muimagemodule_formattedTitle|notifyFilters('image.filter_hooks.albums.filter')|safeHtml }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="muimagemodule-external-snippet">
        &nbsp;
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="muimagemodule-external-description">
            {% if album.description is not empty %}{{ album.description }}<br />{% endif %}
            {% if featureActivationHelper.isEnabled(constant('MU\\ImageModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'album') %}
                <dl class="category-list">
                {% for propName, catMapping in album.categories %}
                    <dt>{{ propName }}</dt>
                    <dd>{{ catMapping.category.display_name[app.request.locale]|default(catMapping.category.name) }}</dd>
                {% endfor %}
                </dl>
            {% endif %}
        </p>
    #}
{% endif %}
</div>
