{# Purpose of this template: Display a popup selector of albums for scribite integration #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
<head>
    <title>{{ __('Search and select album') }}</title>
    {{ pageAddAsset('stylesheet', pagevars.homepath ~ 'style/core.css') }}
    {{ pageAddAsset('stylesheet', zasset('@MUImageModule:css/style.css')) }}
    {{ pageAddAsset('stylesheet', zasset('@MUImageModule:css/finder.css')) }}
    <script type="text/javascript">/* <![CDATA[ */
        if (typeof(Zikula) == 'undefined') {var Zikula = {};}
        Zikula.Config = {'entrypoint': '{{ getModVar('ZConfig', 'entrypoint', 'index.php') }}', 'baseURL': '{{ app.request.getSchemeAndHttpHost() ~ '/' }}', 'baseURI': '{{ app.request.getBasePath() }}'}; /* ]]> */
    </script>
    {{ pageAddAsset('stylesheet', asset('bootstrap/css/bootstrap.min.css')) }}
    {{ pageAddAsset('stylesheet', asset('bootstrap/css/bootstrap-theme.min.css')) }}
    {{ pageAddAsset('javascript', asset('jquery/jquery.min.js')) }}
    {{ pageAddAsset('javascript', asset('bootstrap/js/bootstrap.min.js')) }}
    {{ pageAddAsset('javascript', zasset('@MUImageModule:js/MUImageModule.Finder.js')) }}
</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs">
        <li{{ objectType == 'album' ? ' class="active"' : '' }}><a href="{{ path('muimagemodule_external_finder', {'objectType': 'album', 'editor': editorName}) }}" title="{{ __('Search and select album') }}">{{ __('Albums') }}</a></li>
        <li{{ objectType == 'picture' ? ' class="active"' : '' }}><a href="{{ path('muimagemodule_external_finder', {'objectType': 'picture', 'editor': editorName}) }}" title="{{ __('Search and select picture') }}">{{ __('Pictures') }}</a></li>
        <li{{ objectType == 'avatar' ? ' class="active"' : '' }}><a href="{{ path('muimagemodule_external_finder', {'objectType': 'avatar', 'editor': editorName}) }}" title="{{ __('Search and select avatar') }}">{{ __('Avatars') }}</a></li>
        </ul>
        {% form_theme finderForm with [
            '@MUImageModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(finderForm, {attr: { id: 'mUImageModuleSelectorForm' }}) }}
        {{ form_errors(finderForm) }}
        <fieldset>
            <legend>{{ __('Search and select album') }}</legend>
            {% if featureActivationHelper.isEnabled(constant('MU\\ImageModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'album') %}
                {{ form_row(finderForm.categories) }}
            {% endif %}
            {{ form_row(finderForm.pasteas) }}
            <br />
            <div class="form-group">
                <label for="mUImageModuleObjectId" class="col-sm-3 control-label">{{ __('Album') }}:</label>
                <div class="col-sm-9">
                    <div id="muimagemoduleItemContainer">
                        <ul>
                        {% for album in items %}
                            <li>
                                {% set itemId = album.createCompositeIdentifier() %}
                                <a href="#" data-itemid="{{ itemId }}">{{ album.getTitleFromDisplayPattern() }}</a>
                                <input type="hidden" id="url{{ itemId }}" value="{{ url('muimagemodule_album_display', { 'id': album.id }) }}" />
                                <input type="hidden" id="title{{ itemId }}" value="{{ album.getTitleFromDisplayPattern()|e('html_attr') }}" />
                                <input type="hidden" id="desc{{ itemId }}" value="{% set description %}{% if album.description is not empty %}{{ album.description }}{% endif %}
                                {% endset %}{{ description|striptags|e('html_attr') }}" />
                            </li>
                        {% else %}
                            <li>{{ __('No entries found.') }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {{ form_row(finderForm.sort) }}
            {{ form_row(finderForm.sortdir) }}
            {{ form_row(finderForm.num) }}
            {{ form_row(finderForm.q) }}
            <div>
                {{ pager({ display: 'page', rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'pos', maxpages: 10, route: 'muimagemodule_external_finder'}) }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(finderForm.update) }}
                    {{ form_widget(finderForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(finderForm) }}
    </div>

    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                mUImageModule.finder.onLoad();
            });
        })(jQuery);
    /* ]]> */
    </script>

    {#
    <div class="muimagemodule-finderform">
        <fieldset>
            {{ render(controller('MUImageModule:Admin:edit')) }}
        </fieldset>
    </div>
    #}
</body>
</html>
