<p>{{ __f('Hello %s', { '%s': recipient.name }) }},</p>

<p>{{ __f('Your avatar "%s" has been changed.', { '%s': mailData.name }) }}</p>

<p>{{ __f("It's new state is: %s", { '%s': mailData.newState }) }}</p>

{% if mailData.remarks is not empty %}
    <p>{{ __('Additional remarks:') }}<br />{{ mailData.remarks|nl2br }}</p>
{% endif %}

{% if mailData.newState != __('Deleted') %}
    <p>{{ __('Link to your avatar:') }} <a href="{{ mailData.displayUrl|e('html_attr') }}" title="{{ mailData.name|e('html_attr') }}">{{ mailData.displayUrl }}</a></p>
    <p>{{ __('Edit your avatar:') }} <a href="{{ mailData.editUrl|e('html_attr') }}" title="{{ __('Edit') }}">{{ mailData.editUrl }}</a></p>
{% endif %}

<p>{{ __f('This mail has been sent automatically by %s.', { '%s': getModVar('ZConfig', 'sitename') }) }}</p>
